body {
            
    background-image: url('pasta-pattern-background-vector-14473720.jpg');
}
#firstHL{
    text-align:center;
    background-color:aquamarine;
    height:200px;
    padding:50px;
}

.row 
{
    text-align:center;
}
    .btn1,.btn
    {
        text-align:center;
        width: 30%;
        height:30%;
        background-color:chartreuse;
        border-radius:40%;
        border:5px solid;
        font-weight:600;
        padding:50px 10px;
        font-family:'Franklin Gothic';

    }

    #mainDish
    {
        text-align: center;
        border: 1px solid;
        border-radius: 1%;
        padding: 20px;
        background-color: rgba(249, 251, 251, 0.629);
        box-shadow: 0px 0px 79px 0px rgb(0 0 0 / 75%);
        z-index: 999;
            left:30px;
    }
    #mainDish img
    {
            width: 60px;
            width: 60px;
    }
    #mainDish button{


        text-align:center;
        width: 60%;
        height:20%;
        background-color:aliceblue;
        border-radius:40%;
        border:5px solid;
        font-weight:600;
        padding:50px 10px;
        font-family:'Franklin Gothic';

    }
    #info
    {
       font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
       color: mediumblue;
    }
    #row1{

        background-color: antiquewhite;
        border: 5px dotted;
        margin: 10px;
        border-collapse: collapse;
    }
    .col-3{
        border: 5px dotted;
        margin: 10px;
        border-collapse: collapse;
    }
   
    